<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/favicon.ico">
    <base href="/">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Languages | Quotesform.com</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- My Styles-->
    <link rel="stylesheet" href="/build/dist.min.css">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-resource.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-sanitize.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>

    <!-- My Scripts -->
    <script src="/build/dist.min.js"></script>

</head>
<body ng-app="QuotesFormApp" ng-controller="LanguageController">

<!-- Fixed navbar -->
<div ng-include="'/views/navbar.html'"></div>

<!-- new-language modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="new-language">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" ng-if="language._id">Update</h4>
                <h4 class="modal-title" ng-if="!language._id">Create</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Language</label>

                                <div class="col-sm-10">
                                    <input class="form-control" id="input-text" ng-model="language.text" autofocus
                                           tabindex="1"
                                           ng-enter="save()"
                                           placeholder="Language"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"> </label>

                                <div ng-if="message" class="col-sm-10"
                                     ng-class="{'text-danger': error,  'text-muted': !error}">
                                    <small><em>Last Message : {{message}}</em></small>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="save()" tabindex="2">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" tabindex="3">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<!-- Begin page content -->
<div class="container">

    <div class="row">
        <div class="col-md-8">
            <div class="row margin-top-15">
                <div class="col-md-10">Languages</div>
            </div>
            <hr>
            <div class="row margin-top-15 list">
                <div ng-repeat="item in languages | orderBy:'text'" class="col-md-4 language"
                     ng-mouseenter="hovering=true"
                     ng-mouseleave="hovering=false">
                    <div class="float-left">
                        <a ng-href="/?languageId={{item._id}}&language={{item.text}}" target="_self">
                            {{item.text}}
                        </a>
                    </div>
                    <div class="float-right" ng-class="{'display-none':!hovering}"
                         ng-if="app.canModifyLanguage()">
                        <a href="" ng-click="edit(item)" title="Edit" data-toggle="modal" data-target="#new-language">
                            <i class="fa fa-pencil-square-o"></i>
                        </a>

                        <a href="" ng-click="remove(item)" title="Delete">
                            <i class="fa fa-trash"></i>
                        </a>

                    </div>

                    <div class="clear-both"></div>
                </div>
            </div>

            <div class="row margin-bottom-15">
                <div class="col-md-12 text-right">
                    <button class="btn btn-default" ng-click="prevPage()" ng-disabled="!hasPrev()">Prev</button>
                    <button class="btn btn-default margin-left-15" ng-click="nextPage()" ng-disabled="!hasNext()">Next
                    </button>

                </div>
            </div>

        </div>
        <div class="col-md-4 margin-top-15">
            <div class="panel panel-primary" style="background-color: #007FBB; color: #ffffff" ng-if="app.canModifyLanguage()">
                <div class="panel-body">
                    <p>Support more languages</p>
                    <button class="btn btn-default" data-toggle="modal" data-target="#new-language">Add</button>
                </div>
            </div>
        </div>

    </div>


</div>

<!-- FOOTER -->
<div ng-include="'/views/footer.html'"></div>


</body>
</html>