<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/favicon.ico">
    <base href="/">
    <title>Find quotes by tags on QuotesForm</title>
    <meta name="description"
          content="Find quotes by tags on QuotesForm and share with your friends on Facebook, twitter, google+, whatsapp, hike ...">
    <meta name="keyword"
          content="Popular quotes, quotes, share quotes, quotes by tags ">

    <link href="http://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- My Styles-->
    <link rel="stylesheet" href="/build/dist.min.css">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-resource.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-sanitize.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>

    <!-- My Scripts -->
    <script src="/build/dist.min.js"></script>

</head>
<body ng-app="QuotesFormApp" ng-controller="TagController" ng-init="pageName='tags'">

<!-- Fixed navbar -->
<div ng-include="'/views/navbar.html'"></div>

<div ng-include="'/views/modal-new-tag.html'"></div>


<!-- Begin page content -->
<div class="container" ng-class="{'margin-top-60': app.canNavbarFixedAtTop(this)}">

    <div class="row">
        <div class="col-md-8">
            <div ng-include="'/views/popular-tags.html'"></div>
            <div ng-include="'/views/tags.html'"></div>

            <div class="row margin-bottom-15">
                <div class="col-md-12 text-right">
                    <button class="btn btn-default" ng-click="prevPage()" ng-disabled="!hasPrev()">Prev</button>
                    <button class="btn btn-default margin-left-15" ng-click="nextPage()" ng-disabled="!hasNext()">Next
                    </button>

                </div>
            </div>

        </div>
        <div class="col-md-4 margin-top-15">
            <div class="panel panel-primary" style="background-color: #007FBB; color: #ffffff"
                 ng-if="app.canModifyTag()">
                <div class="panel-body">
                    <p>Support more tags</p>
                    <button class="btn btn-default" data-toggle="modal" data-target="#new-tag">Add</button>
                </div>
            </div>
        </div>

    </div>


</div>

<!-- FOOTER -->
<div ng-include="'/views/footer.html'"></div>


</body>
</html>