<div class="container-fluid banner"
     ng-style="{height: banner.height+'px','background-image': 'url('+banner.url+')', 'background-size':'cover', 'background-position':'center'}">
    <div class="content-center text-center">
        <img class="img-circle img-shadow" src="/favicon-white-128x128.png"/>

        <div class="title text-shadow">Quotes Form</div>
    </div>
    <div class="content-bottom" ng-click="showBannerQuotes(!canShowBannerQuotes)">
        <div class="container">
            <div class="row">
                <div class="col-md-12 padding-15" ng-class="{'text-center':!randomQuote.formatted}">
                    <h4  ng-if="randomQuote" class="toggle" ng-bind-html="randomQuote.text + '<cite><small> ― '+randomQuote.author.name+'</small></cite>' | toHTML">

                    </h4>
                </div>
            </div>

        </div>
    </div>
</div>