<div class="panel panel-default">
    <div class="panel-body">
        <div class="row margin-top-15">
            <h4 class="col-md-12 content-title">Explore more</h4>
        </div>
        <div class="row list">
            <div class="col-md-12 author">
                <a href="/authors.html" target="_self">Explore by authors </a>
            </div>
            <div class="col-md-12 author">
                <a href="/languages.html" target="_self">Explore by languages</a>
            </div>
            <div class="col-md-12 author">
                <a href="/tags.html" target="_self">Explore by tags</a>
            </div>
        </div>

    </div>
</div>