<div class="row margin-top-15">
    <h4 class="col-md-12 content-title">All Languages</h4>
</div>
<div class="row margin-top-15 list">
    <div ng-repeat="item in languages | orderBy:'text'" class="col-md-4 language"
         ng-mouseenter="hovering=true"
         ng-mouseleave="hovering=false">
        <div class="float-left">
            <a ng-href="/?languageId={{item._id}}&language={{item.text}}" target="_self">
                {{item.text}}
            </a>
        </div>
        <div class="float-right" ng-class="{'display-none':!hovering}"
             ng-if="app.canModifyLanguage()">
            <a href="" ng-click="edit(item)" title="Edit" data-toggle="modal" data-target="#new-language">
                <i class="fa fa-pencil-square-o"></i>
            </a>

            <a href="" ng-click="remove(item)" title="Delete">
                <i class="fa fa-trash"></i>
            </a>

        </div>

        <div class="clear-both"></div>
    </div>
</div>