<!-- new-tag modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="new-tag">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" ng-if="tag._id">Update</h4>
                <h4 class="modal-title" ng-if="!tag._id">Create</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Tag</label>

                                <div class="col-sm-10">
                                    <input class="form-control" id="input-text" ng-model="tag.text" autofocus
                                           tabindex="1"
                                           ng-enter="save()"
                                           placeholder="Tag"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"> </label>

                                <div ng-if="message" class="col-sm-10"
                                     ng-class="{'text-danger': error,  'text-muted': !error}">
                                    <small><em>Last Message : {{message}}</em></small>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="saveTag()" tabindex="2">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" tabindex="3">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->