<!-- Fixed navbar -->
<nav id="custom-bootstrap-menu" class="navbar navbar-default" ng-controller="NavigationController"
     ng-class="{'navbar-fixed-top': scrollYOffset>=banner.height}">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" target="_self">
                <img src="/favicon-gray-20x20.png">
            </a>
            <a class="navbar-brand" href="/" target="_self">Quotes Form</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" ng-if="app.auth.user">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">{{app.auth.user.name + ' <' + app.auth.user.email + '> '}} <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <!--
                        <li><a href="#" target="_self">User profile</a></li>
                        -->
                        <li><a href="" ng-click="logout()">Logout</a></li>
                    </ul>
                </li>
                <li ng-if="!app.auth.user"><a href="/login.html" target="_self">Login</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>